*.pyc
*.ipynb
*.ipynb
runs/
misc/experiments/ssdlite/model_checkpoint
misc/experiments/ssdlite/model_checkpoint-Copy1

fisierul.json

misc/experiments/ssdlite/model_checkpoint2

misc/experiments/ssdlite/model_checkpoint_loss
misc/experiments/ssdlite/stats.json
misc/experiments/ssdlite/params.json
